# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/


lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.pdm.toml
.pdm.lock

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac and Linux junk files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.swp
*.swo
*.bak
*.~*

# Log files
*.log

# Test/coverage artifacts
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env
.env.*
*.env

# Local configuration files
*.local
*.secret

# System files
Thumbs.db

# Node modules (if present)
node_modules/

# Backup files
*~

# PyCharm specific
*.iml
.idea/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Others
__pypackages__/

database.db
/storage
/backend/storage
/backend/database.db
/frontend/storage
/frontend/database.db
/backend/data
*:Zone.Identifier

