OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=
OPENROUTER_MODEL=
CLERK_JWKS_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_AUTHORIZED_PARTIES=
CORS_ALLOWED_ORIGINS=

EIVEN_SERVICE_URL=
DATABASE_URL=

OPENAI_API_KEY=

S3FS_ENDPOINT_URL=
S3FS_REGION=
S3FS_ACCESS_KEY_ID=
S3FS_SECRET_ACCESS_KEY=

SUPABASE_KEY=
SUPABASE_URL=
SUPABASE_BUCKET=
